SECRET_KEY=your_secret_key

DATABASE_URI=postgresql+psycopg://your_username:your_password@localhost:5432/your_database
TEST_DATABASE_URI=postgresql+psycopg://your_username:your_password@localhost:5432/your_database

ADMIN_PASSWORD="your_admin_password"

POSTGRES_USER=your_username
POSTGRES_DB=your_db
POSTGRES_PASSWORD=your_password
DOCKER_DATABASE_URI=postgresql+psycopg://your_username:your_password@localhost:5432/your_database